*, *:before, *:after{
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color:black;
}
h1{
  font-size:2em;
  font-weight: bold;
}

h3{
  font-size:1.3em;
  line-height: 2.2em;
}
.location{
  background-color:lightgrey;
  padding:4%;
  border-bottom: 1px solid black;
}
.content{
  width:80%;
}
/*arrow doesn't flow inside the box- need to fix it */
.arrow{
  position:relative;
  bottom: 35px;
  float:right;
  margin-right: 3%;
}

.restaurant-list {
  padding-top:10%;
}

.location:hover{background-color:darkgrey;}
